#content{
    
    #charts {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
        position: relative;
        &>div{
            flex: 1 1 500px;
            min-height: 50vh;
            background-color:$grayBase;
            margin: 1rem;
            overflow: hidden;
            position: relative;
            .preview {
                display: grid;
                position: absolute;
                place-items: center;
                background-color: #fefefe;
                width: 100%;
                height: 50vh;
                h3 {
                    display: grid;
                    place-items: center;
                    padding: 2rem;
                    background-color: #364f6b;
                    color: #FFFFFF;
                    font-weight: 800;
                    font-size: 18px;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: all .1s ease-in;
                    margin-right: 4px;
        
                }
                h3:last-child {
                    margin-right: 0;
                }
                h3:hover {
                    background-color: #202f41;
                }
                h3:active {
                    background-color: #364f6b87;
                }
            }
        }
    }
}