$blueDark: #456B8C;
$blueLight: #7B92A6;
$yellowDark: #b6942f;
$yellowLight: #F2DB94;
$grayBase: #F2F2F2;
$bgBase: rgb(213,220,227);
$bgGrad: linear-gradient(90deg, rgba(213,220,227,1) 0%, rgba(131,150,173,1) 100%);
$portCall: #fc5185;
$portText: #43dde6;